.main {
  /* padding-top: 200px; */
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: solid 2px rgb(255 0 0 / 30%);
}

.main_light  {
  background-color: #fff;
}

.main_dark {
  background-color: #38004c;
}

.dark{
 /* background-color: rgb(222, 210, 234); */
 color: blanchedalmond;
}

.light{
color: dimgrey;;
}
.main_Mobile{
  padding-left: 40px;
}
.main_Tablet{
  padding-left: 40px;
}