.header{ 
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: inherit;
  z-index: 2;
  position: fixed;
}
.header_dark{
  background: red; 
}
.header_light{
  background: #e5e5e5; 
}