.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: inherit;
  z-index: 2;
  position: fixed;
  max-width: 1280px;
  align-items: center;
  /* left: calc((100vw - 1134px) / 2); */
}
.header_dark {
  background-color: slategray;
  border-bottom: solid 3px dimgrey;
}
.header_light {
  background-color: rgb(188 188 188);
  border-bottom: solid 3px rgb(152 149 149 / 80%);
}
.left {
  padding-left: 20px;
  display: flex;
}
.right {
  padding-right: 20px;
  display: flex;
}

.right_Language {
  /* padding-left: 10px; */
  padding-right: 20px;
  /* border-right: 2px solid rgb(224 224 224 / 50%); */
}
.preview {
  display: flex;
  padding-left: calc((100vw) / 5);
}
.previewButton {
  margin: 0 4px;
}

.previewButton {
  cursor: pointer;
}

.react_icons {
  height: 25px;
  width: 25px;
  color: black;
  z-index: -1;
}

.btn_icon {
  padding: 0;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255 255 255 / 10%);
  height: calc((0.875rem * 1) + (0.875rem * 2) + (2px));
  width: calc((0.875rem * 1) + (0.875rem * 2) + (2px));
}

.previewIco {
  z-index: -1;
}

.select {
  cursor: pointer;
  border: none;
  border-left: 2px solid rgb(224 224 224 / 50%);
  background-color: transparent;
  -moz-appearance: none;
  outline: none;
  padding-left: 12px;
  margin-left: 12px;
}
.selectlang {
  border-right: 2px solid rgb(224 224 224 / 50%);
  padding-right: 12px;
  margin-right: 12px;
}
