
.main_darkStyle {
  background-color: #2c2d2dd1;
}

.darkStyle{
 color: blanchedalmond;
 
}


.sidebar_darkStyle {
  /* background-color: antiquewhite; */
  /* box-shadow: rgb(80 16 16) 40px 1px 55px; */
  background-color: dimgrey;
}

#darkStyle {
  /* background-color: #46045e; */
  justify-content: flex-start;
}

body {
  /* background: darkStylegray; */
  background-color: slategray;
}

