:root {
  --bg-color: #2c2d2dd1;
  --accent-color: red;
  --body-color: rgba(112, 128, 144, 0.724);
  --sibar-color: dimgrey;
  --color-focus: rgb(255, 255, 255);
  --color-data: #fa5f5f;
}
.main_darkStyle {
  background-color: #2c2d2dd1;
}
.mailItems_darkStyle,
.darkStyle {
  color: blanchedalmond;
  font-weight: 200;
  font-size: large;
  font-family: revert;
}

.sidebar_darkStyle {
  background-color: #2c2d2d;
  border-right: solid 2px var(--accent-color);
  box-shadow: inset rgb(0 0 0 / 20%) -13px 15px 17px 13px;
}
.sidebar_darkStyle::before {
  position: absolute;
  height: 59px;
  width: 250px;
  content: "";
  /* background-color: #fa5f5f; */
  box-shadow: rgb(0 0 0 / 20%) -19px 9px 11px 11px;
}

#darkStyle {
  /* background-color: #46045e; */
  justify-content: flex-start;
}

.surnameItems_darkStyle {
  color: var(--accent-color);
}
.icoBt_darkStyle {
  background-color: rgb(255 255 255 / 28%);
  height: calc((0.575rem * 1) + (0.575rem * 2) + (25px));
  width: calc((0.575rem * 1) + (0.575rem * 2) + (25px));
}
.aHref_darkStyle:hover {
  color: #c9c7c7;
  font-size: 17px;
  transition: 250ms;
}
.aHref_darkStyle:focus {
  color: var(--color-focus);
}

.periodItems_darkStyle {
  color: var(--color-data);
}
.main_about_darkStyle {
  border-bottom: solid 2px var(--accent-color);
}

.activ_darkStyle {
  border-bottom: solid 2px var(--accent-color);
}

.burgerMenu_darkStyle {
  background-color: rgb(123, 73, 8);
}

.header_darkStyle {
  background-color: #2c2d2d;
  border-bottom: solid 3px rgb(235, 0, 0);
}

.select_darkStyle {
  color: #c9c7c7;
}
.select_darkStyle:focus,
.select_darkStyle:hover {
  color: #fff;
  background-color: #2c2d2d;
}

.burger_true_darkStyle {
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.burger_true_darkStyle::before {
  content: "";
  height: calc((0.175rem * 1) + (0.175rem * 2) + (28px));
  width: calc((0.175rem * 1) + (0.175rem * 2) + (28px));
  border-radius: 100%;
  background-color: #c9c7c730;
  position: fixed;
  margin-left: -6px;
}

.sidContent_darkStyle,
.listSideBar_darkStyle {
  left: calc((100vw - 1208px) / 2);
}

.listSideBar_close_darkStyle {
  left: auto;
}
.listSideBar_activ_darkStyle {
  left: auto;
}

.main_item_Desktop,
.main_item_Tablet,
.main_item_Mobile {
  padding-bottom: 100px;
  margin-top: 40px;
}
