body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  width: 100vw; 
  position: fixed;
  background-color: slategray;
  border-bottom: solid 3px rgb(235, 0, 0);
}
.headCon {
  display: flex;
  padding: 10px 0;
  width: inherit;
  z-index: 3;
  /* max-width: 1280px; */
  align-items: center;
  justify-content: flex-end;
}

.left {
  padding-left: 90px;
  display: flex;
}
.leftItem {
  padding-left: 20px;
}
.right {
  display: flex;
  padding-left: 20px;
}

.right_Language {
  padding-right: 12px;
}
.preview {
  display: flex;
}
.previewButton {
  margin: 0 4px;
}

.previewButton {
  cursor: pointer;
}

.react_icons {
  height: 25px;
  width: 25px;
  color: #000000c8;
}
.about_react_icons {
  height: 35px;
  width: 35px;
  color: rgb(64, 64, 64);
}

.btn_icon {
  padding: 0;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255 255 255 / 10%);
  height: calc((0.175rem * 1) + (0.175rem * 2) + (28px));
  width: calc((0.175rem * 1) + (0.175rem * 2) + (28px));
}

.previewIco {
  z-index: -1;
}

.select {
  cursor: pointer;
  border: none;
  border-left: 2px solid rgb(224 224 224 / 50%);
  background-color: transparent;
  -moz-appearance: none;
  outline: none;
  padding-left: 12px;
  margin-left: 12px;
}

.selectDiv {
  padding-left: 12px;
  border-left: 2px solid rgb(224 224 224 / 50%);
}

.main {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.main_item_Desktop {
  height: calc(100vh - 300px);
  padding-top: 300px;
}
.main_item_Tablet {
  height: calc(100vh - 200px);
  padding-top: 200px;
}
.main_item_Mobile {
  height: calc(100vh - 150px);
  padding-top: 150px;
}

@media (max-width: 768px) {
  .main_item_Mobile,
  .main_item_Tablet,
 .main_item_Desktop {
  height: calc(100vh - 200px);
  padding-top: 200px;
}
}

@media (max-width: 420px) {
  .main_item_Mobile,
  .main_item_Tablet,
  .main_item_Desktop {
  height: calc(100vh - 150px);
  padding-top: 150px;
}
}

.awards {
  height: calc(100vh - 320px);
}

.sidebarItems {
  font-size: 19px;
  padding-top: 17px;
  text-transform: uppercase;
}

.burger_Desktop {
  visibility: collapse;
}

.sidebar_Desktop {
  min-width: 250px;
}
.sidebar_Tablet {
  display: none;
}
.sidebar_Mobile {
  display: none;
}

.avatar {
  max-width: 100px;
  border: solid 3px;
  border-radius: 10%;
}

.spanImg {
  max-width: 220px;
}
.sidebar {
  padding-top: 300px;
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .preview {
    display: none;
  }
  .burger_Desktop {
    visibility: inherit;
  }
}

.sidContent_Desktop {
  position: fixed;
  top: 300px;
  left: calc((100vw - 1200px) / 2);
  text-align: center;
  width: 160px;
}
* {
  /* transition: color, scale, 250ms; */
  font-family: Verdana, Geneva, sans-serif;
  scroll-behavior: smooth;
}

.app_Desktop {
  max-width: 1280px;
  display: flex;
}
.app_Tablet {
  width: 768px;
}
.app_Mobile {
  width: 420px;
}

.App {
  text-align: initial;
}

.App {
  font-family: "Ubuntu", sans-serif;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
} */
.aHref {
  font-size: 14px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  text-decoration: none;
}

.logo {
  height: 40vmin;
  pointer-events: none;
  min-width: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 1520ms linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(64, 64, 64);
}

.ul_experience {
}

.surnameItems,
.nameItems {
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 10px;
  -webkit-text-stroke-width: medium;
  width: -webkit-fill-available;
  display: contents;
}

@media (max-height: 1600px) {
  .experience {
    height: auto;
  }
}

.positionItems {
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
}
.experienceElItems {
  padding-bottom: 40px;
}
.expansionItems,
.titleItems {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 40px;
  -webkit-text-stroke-width: medium;
}
.periodItems {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
}
.facultyItems,
.companyItems {
  display: flex;
  padding-bottom: 20px;
}
.GPAItems {
  padding-bottom: 60px;
}
.aboutMeItems {
  padding-top: 50px;
}
.aboutEl {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.contentItems,
.toolsItems,
.TitleItems {
  padding-bottom: 20px;
}
.element_awards,
.avatarItems_avatar {
  display: none;
}

.icoBt {
  padding: 0;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc((0.575rem * 1) + (0.575rem * 2) + (4px));
  width: calc((0.575rem * 1) + (0.575rem * 2) + (4px));
  margin-right: 25px;
  margin-top: 50px;
}
.elsocial {
  display: flex;
}

.skills_react_icons {
  height: 50px;
  width: 50px;
}
.icoSkills {
  padding-right: 14px;
  padding-top: 20px;
}
.ulSkills {
  display: inline-flex;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
.TitleItems_Title {
  padding-bottom: 70px;
}
.burgerMenu {
  position: fixed;
  right: 0;
  top: 60px;
  background-color: rgb(123, 73, 8);
  padding: 5px 0 20px 14px;
  width: calc(100vh / 4);
  font-size: 28px;
  font-weight: bolder;
  height: 100vh;
}

.burger {
  display: flex;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 6px;
}
