body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: slategray;
  border-bottom: solid 3px rgb(235, 0, 0);
}
.headCon {
  display: flex;
  padding: 10px 0;
  width: inherit;
  z-index: 2;
  /* position: fixed; */
  max-width: 1280px;
  align-items: center;
  /* padding-left: 260px; */
  justify-content: flex-end;
}

.left {
  padding-left: 90px;
  display: flex;
}
.leftItem {
  padding-left: 20px;
  /* display: flex; */
}
.right {
  /* padding-right: 20px; */
  display: flex;
  padding-left: 50px;
}

.right_Language {
  /* padding-left: 10px; */
  /* padding-right: 20px; */
  /* border-right: 2px solid rgb(224 224 224 / 50%); */
}
.preview {
  /* padding-left: 50px; */
  display: flex;
  /* padding-left: calc((100vw) / 9); */
}
.previewButton {
  margin: 0 4px;
}

.previewButton {
  cursor: pointer;
}

.react_icons {
  height: 25px;
  width: 25px;
  color: #ffffff61;
  z-index: -1;
}

.btn_icon {
  padding: 0;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255 255 255 / 10%);
  height: calc((0.575rem * 1) + (0.575rem * 2) + (4px));
  width: calc((0.575rem * 1) + (0.575rem * 2) + (4px));
}

.previewIco {
  z-index: -1;
}

.select {
  cursor: pointer;
  border: none;
  border-left: 2px solid rgb(224 224 224 / 50%);
  background-color: transparent;
  -moz-appearance: none;
  outline: none;
  padding-left: 12px;
  margin-left: 12px;
}
.selectlang {
  border-right: 2px solid rgb(224 224 224 / 50%);
  padding-right: 12px;
  margin-right: 12px;
}

.main {
  /* padding-top: 200px; */
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: solid 2px rgb(255 0 0 / 30%);
}

.main_Mobile {
  padding-left: 40px;
}
.main_Tablet {
  padding-left: 40px;
}
.main_item {
  border-bottom: solid 2px rgb(255 0 0 / 30%);
  height: 100vh;
  padding-top: 200px;
}

.sidebarItems {
  padding-top: 17px;
  text-transform: uppercase;
}

.sidebar_Desktop {
  min-width: 250px;
}
.sidebar_Tablet {
}
.sidebar_Mobile {
}

.avatar {
  max-width: 100px;
  border: solid 3px;
  border-radius: 10%;
}

.spanImg {
  max-width: 220px;
}
.sidebar {
  padding-top: 200px;
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .preview {
    display: none;
  }
}
/* @media (min-width: 768px) {
  .sidebar {
    display:none
  }
} */

.sidContent_Desktop {
  /* position: fixed; */
  position: fixed;
  top: 200px;
  left: calc((100vw - 1134px) / 2);
  text-align: center;
}
* {
  /* transition: color, scale, 250ms; */
  font-family: Verdana, Geneva, sans-serif;
  scroll-behavior: smooth;
}

.app_Desktop {
  max-width: 1280px;
  display: flex;
}
.app_Tablet {
  width: 768px;
}
.app_Mobile {
  width: 470px;
}

.App {
  text-align: initial;
}

.App {
  font-family: "Ubuntu", sans-serif;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
} */
.aHref {
  font-size: 14px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  /* color: blanchedalmond; */
  text-decoration: none;
}

/* @media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
} */

.logo {
  height: 40vmin;
  pointer-events: none;
  min-width: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 1520ms linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(64, 64, 64);
}

.ul_experience {
}

.nameItems_name {
  text-transform: uppercase;
  font-size: 3rem;
  padding-bottom: 10px;
  -webkit-text-stroke-width: medium;
  width: -webkit-fill-available;
  
}
.nameItems_name:first-child {
  /* text-transform: uppercase; */
  font-size: 5rem;
  /* padding-bottom: 10px; */
  /* -webkit-text-stroke-width: medium; */
  /* width: -webkit-fill-available; */
  
}
.main_item {
  padding-bottom: 20px;
  /* border: solid 2px; */
}

@media (max-height: 1000px) {
  .experience {
    height: auto;
  }
}

.positionItems {
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
}
.experienceElItems {
  padding-bottom: 40px;
}
.expansionItems,
.titleItems {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 40px;
  -webkit-text-stroke-width: medium;
}
.periodItems {
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
}
.facultyItems,
.companyItems {
  display: flex;
  padding-bottom: 20px;
}
.GPAItems {
  padding-bottom: 60px;
}
.aboutMeItems {
  padding-top: 50px;
}
.aboutEl {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.contentItems,
.toolsItems,
.TitleItems {
  padding-bottom: 20px;
}
.element_awards,
.avatarItems_avatar {
  display: none;
}
