.header_light {
  background-color: rgb(188 188 188);
  border-bottom: solid 3px rgb(152 149 149 / 80%);
}

.main_light  {
  background-color: #fff;
}

.light{
color: dimgrey;;
}
.sidebar_light {
  background-color: antiquewhite;
  /* box-shadow: rgb(206, 206, 206) 40px 1px 55px; */
  background-color: rgb(188 188 188 / 50%);
}

#light {
  /* background-color: #f3ebf6; */
  justify-content: flex-start;
}
