
.main_lightStyle  {
  background-color: #fff;
}

.lightStyle{
color: dimgrey;;
}
.sidebar_lightStyle {
  /* background-color: antiquewhite; */
  /* box-shadow: rgb(206, 206, 206) 40px 1px 55px; */
  background-color: rgb(255 255 255 / 93%);
}

#lightStyle {
  /* background-color: #f3ebf6; */
  justify-content: flex-start;
}
