#modernStyle {
  justify-content: flex-start;
}

.header_modernStyle {
  display: flex;
  justify-content: center;
}
.headCon_modernStyle {
  position: fixed;
  background-color: #59a3e3;
  border-right: solid 5px #59a3e3;
  top: 0;
  left: calc((100vw - 442px) / 2);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 5px;
}
.burgerMenu_modernStyle {
  background-color: #59a3e3;
  border-top-left-radius: 23px;
}
.modernStyle,
.phoneItems_modernStyle,
.mailItems_modernStyle {
  font-size: 27px;
  color: black;
  font-size: large;
  font-family: cursive;
}
.modernStyle {
  font-size: 27px;
}
.aHref_modernStyle {
  color: black;
  font-size: 17px;
}
.activ_modernStyle::before {
  position: absolute;
  height: 27px;
  width: 14px;
  content: "";
  right: 146px;
  background-color: #ce1010;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.listSideBar_redy_modernStyle ::before {
  right: 124px;
}

.main_about_modernStyle {
  background-color: azure;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 0;
  height: auto;
  margin-top: 40px;
  padding-bottom: calc(100vh - 300px);
}
.main_about_modernStyle::before {
  content: "";
  display: flex;
  height: 200px;
  width: 50px;
  margin-bottom: 90px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-bottom: 20px;
  background-color: rgb(0, 128, 255);
  box-shadow: rgb(0 0 0 / 20%) -4px -2px;
}
.awards_modernStyle {
  padding-bottom: calc(100vh - 560px);
}

.sidContent_modernStyle {
  top: 345px;
  left: calc((100vw - 1242px) / 2);
  width: auto;
  border-radius: 100px;
}
.sidContent_modernStyle::before {
  content: "";
  display: flex;
  border-radius: 100px;
  height: 124px;
  width: 124px;
  margin-bottom: -111px;
  box-shadow: inset rgb(0 0 0 / 20%) 11px 0px 7px 2px;
}
.spanImg_modernStyle {
  position: relative;
}
.spanImg_modernStyle::before {
  position: absolute;
  content: "";
  display: flex;
  border-radius: 100px;
  background-color: rgba(5, 100, 194, 0.333);
  height: 114px;
  width: 114px;
  box-shadow: inset rgb(0 0 0 / 20%) 11px 1px 4px 5px;
}

.sidebar_modernStyle {
  min-width: 150px;
  margin-left: 27px;
}

.listSideBar_modernStyle {
  width: 120px;
  top: 80px;
  margin-left: 15px;
  margin-right: 15px;
  left: calc((100vw - 1270px) / 2);
}
.main_modernStyle {
  padding-left: 4px;
  padding-right: 4px;
}
.sidebar_modernStyle::before {
  position: fixed;
  top: 0px;
  left: calc((100vw - 1390px) / 2);
  content: "";
  min-height: 500px;
  max-height: 56vh;
  width: 60px;
  border-right: 147px solid rgb(0, 128, 255);
  border-bottom: 43px solid #ce1010;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset rgb(0 0 0 / 20%) -12px -5px 10px 1px;
}

.avatar_modernStyle {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: transparent;
}

.institutionItems_modernStyle {
  padding-bottom: 20px;
}

.lis_modernStyle ::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 65px;
  background-color: #ce1010;
  margin-top: 60px;
}
.lis_modernStyle {
  padding-right: 10px;
  display: flex;
}

.youtubeItems_modernStyle :hover {
  color: #ce1010;
}

.telegramItems_modernStyle :hover {
  color: #336fff;
}
.githubItems_modernStyle :hover {
  color: #000000;
}
.linkedInItems_modernStyle :hover {
  color: #002fa6;
}

.linkedInItems_modernStyle :last-child,
.githubItems_modernStyle :last-child,
.telegramItems_modernStyle :last-child,
.youtubeItems_modernStyle :last-child {
  height: 50px;
  width: 50px;
}

.telegramItems_modernStyle :hover {
  color: #336fff;
}
.githubItems_modernStyle :hover {
  color: #000000;
}
.linkedinInItems_modernStyle :hover {
  color: #2f68ef;
}
/* /// */
.listSideBar_activ_modernStyle {
  right: 75px;
  left: auto;
}
.listSideBar_close_modernStyle {
  right: -375px;
  left: auto;
}

.titleItems_Desktop,
.full_fullNameItems_modernStyle {
  max-width: 700px;
}

.titleItems_Desktop::after,
.titleItems_Tablet::after {
  margin-top: 30px;
}


.titleItems_modernStyle::after {
  margin-top: 30px;
}

@media (max-width: 780px) {
  .titleItems_modernStyle,
  .full_fullNameItems_modernStyle {
    max-width: 455px;
  }
  .full_fullNameItems_modernStyle::after {
    width: 54vh;
    margin-top: 105px;
  }
  .awards_titleItems_modernStyle::after {
    margin-top: 70px;
  }
  .titleItems_modernStyle::after {
    width: 54vh;
    margin-top: 70px;
  }
}

@media (max-width: 1280px) {
  .headCon_modernStyle {
    left: calc((100vw - 356px) / 2);
  }
}

.lis_modernStyle:hover::before,
.icoSkills_modernStyle:hover::before {
  box-shadow: rgb(0 0 0 / 20%) -1px -4px 2px 0px;
}
.titleItems_Mobile::after {
  width: 44vh;
  margin-top: 70px;
}
.content_modernStyle {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.img_content_0_modernStyle {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 780px) {
  .awards_modernStyle {
    padding-left: 5px;
  }
}
.aboutMeItems_modernStyle::before,
.Title_Title_modernStyle::before,
.institutionItems_modernStyle::before,
.positionItems_modernStyle::before {
  position: absolute;
  content: "";
  height: 44px;
  width: 42px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #ce1010;
  box-shadow: rgb(0 0 0 / 20%) -4px -2px;
  margin-left: -55px;
}

.full_fullNameItems_modernStyle_Mobile::after,
.title_Items_modernStyle_Mobile::after,
.titleItems_modernStyle_Mobile::after {
  width: 44vh;
}
.full_fullNameItems_modernStyle_Mobile::after {
  margin-top: 105px;
}
.titleItems_modernStyle_Desktop,
.title_Items_modernStyle_Desktop {
  padding-bottom: 140px;
}
