.sidebar_Desktop {
  min-width: 250px;
  /* position: fixed; */
  /* height: 100%; */
  /* left: 0; */
}
.sidebar_Tablet {
}
.sidebar_Mobile {
}

.avatar {
  max-width: 100px;
  border: solid 3px;
  border-radius: 10%;
}

.spanImg {
  max-width: 220px;
}
.sidebar {
  /* min-width: 250px;
    position: fixed;
    height: 100%;
    left: 0;
    padding-top: 200px; */

  padding-top: 200px;
}
.sidebar_light {
  background-color: antiquewhite;
  /* box-shadow: rgb(206, 206, 206) 40px 1px 55px; */
  background-color: rgb(188 188 188 / 50%);
}
.sidebar_dark {
  background-color: antiquewhite;
  /* box-shadow: rgb(80 16 16) 40px 1px 55px; */
  background-color: dimgrey;
}
.sidContent_Desktop {
  /* position: fixed; */
  position: fixed;
  top: 200px;
  left: calc((100vw - 1134px) / 2);
}
